.amount-input {
  padding: 12px;
}

.header {
  font-weight: bold;
  color: blue;
  padding: 12px 0;
}

.input-field {
  border: dashed 4px green;
  padding: 6px;
  font-size: 30px;
  color: cadetblue;
}

.label-error {
  color: red;
}
