body {
  --width: 100px;
  --padding: 10px;
}

.input {
  display: none;
}

.radio {
  --border: 15px;
  --radio-width: calc(var(--width) - (var(--padding) * 2 + var(--border) * 2)); 

  box-shadow: 0 0 0 15px black;
  border-radius: 50%;
  padding: calc(var(--radio-width) / 2);
  background: black;
  position: absolute;
  right: calc(var(--padding) + var(--border));
  bottom: calc(var(--padding) + var(--border));
}

.checked {
  background: orange;
}

.label {
  padding: 20px;
  font-family : arial;
  text-align: center;
  display: block;
  line-height: 20px;
}

.radioButtons {
  display: inline-block;
  width: var(--width);
  margin-right: 12px;
  height: 150px;
  position: relative;
  background: orange;
}
